.Protein {
    color: brown;
}

.Produce {
    color: green;
}

.Odds {
    color: orange;
}

.title {
    background: black;
    width: 260px;
    padding-left: 55px;

}

.al {
    text-align: center;
}

.bo {
    border: 3px solid blue;
    width: 300px;
}

.Head {
    padding-left: 45px;
}